### connect MongoDB to Python

In [ ]:
# from http import client
# import os
from pymongo import MongoClient
import pprint
printer = pprint.PrettyPrinter()
# connection_string = "mongodb://root:cauldron@172.23.10.14:31011/?authSource=admin"
client = MongoClient(connection_string)

### Python MongoDB Create Collection
Creating a Collection
To create a collection in MongoDB, use database object and specify the name of the collection you want to create.
MongoDB will create the collection if it does not exist.

In [ ]:
database_name = client.DATA_DRIVEN_ENGINE_DEV
dbs = client.list_database_names()
print("dbs : ",dbs)

# Creating a Collection
customers_collection = database_name.customers

collection_names = []

for coll in database_name.list_collection_names():
    collection_names.append(coll)
print("collection_names : ", collection_names)
# printer = pprint.PrettyPrinter()
### drop collection
# customers_collection.drop()

## Python MongoDB Insert Document

### InsertOne 

Insert Into Collection
To insert a record, or document as it is called in MongoDB, into a collection, we use the insert_one() method.
The first parameter of the insert_one() method is a dictionary containing the name(s) and value(s) of each field in the document you want to insert.

In [ ]:
# # # InsertOne
test_document = { "name": "Peter", "address": "Lowstreet 27" }
insert_id = customers_collection.insert_one(test_document)
print("inserted id : ",insert_id.inserted_id)

Peter = customers_collection.find_one({"name":"Peter"})
print(Peter)

### Insert Multiple Documents

To insert multiple documents into a collection in MongoDB, we use the insert_many() method.

The first parameter of the insert_many() method is a list containing dictionaries with the data you want to insert:

In [ ]:
test_document_list = [
  { "name": "Jan", "address": "Apple st 652"},
  { "name": "Hannah", "address": "Mountain 21"},
  { "name": "Michael", "address": "Valley 345"},
  { "name": "Richard", "address": "Sky st 331"},
  { "name": "Viola", "address": "Sideway 1633"}
]

customers_collection.insert_many(test_document_list)

people = customers_collection.find()
for person in people:
    print(person)

## Python MongoDB Update

### Update Collection
You can update a record, or document as it is called in MongoDB, by using the update_one() method.

The first parameter of the update_one() method is a query object defining which document to update.

In [ ]:
query = { "address": "Valley 345" }
newvalues = { "address": "Canyon 123" }

x = customers_collection.update_one(query,{"$set":newvalues} )

people = customers_collection.find()
# print(people)

for person in people:
    print(person)

### Update Many
To update all documents that meets the criteria of the query, use the update_many() method.

In [ ]:
query = { "address": { "$regex": "^S" } }
newvalues = { "name": "Minnie" }

x = customers_collection.update_many(query,{"$set":newvalues})

print(x.modified_count, "documents updated.")

people = customers_collection.find()

for person in people:
    print(person)

## Python MongoDB Upsert

### Upsert
Set the Upsert flag to ‘True’ to create a new document if none exists
As we mentioned in the previous section, if no documents are found that match the specified query for an update statement, no documents will be updated. However, you can use the upsert boolean option as the last element in your method call’s tuple object to change this behavior– this flag will instruct MongoDB to insert a new document if the call’s query doesn’t find a document that matches.

In [ ]:
# data1 = {"name":"Minnie","address":"Apple st 123"}

query = { "name": "Jan" }
newvalues ={"name":"Minnie","address":"Apple st 123"}

x = customers_collection.update_one(query, { '$set': newvalues }, upsert=True)
print(x.modified_count, "documents updated.")

people = customers_collection.find()
# print(people)

for person in people:
    print(person)
    # printer.pprint(person)

## Python MongoDB Delete Document

### Delete Document

To delete one document, we use the delete_one() method.

The first parameter of the delete_one() method is a query object defining which document to delete.

In [ ]:
query = { "address": "Lowstreet 27"}
delete_customers = customers_collection.delete_one(query)

people = customers_collection.find()

for person in people:
    print(person)
print(delete_customers.deleted_count, " documents deleted.")

### Delete Many Documents
To delete more than one document, use the delete_many() method.

The first parameter of the delete_many() method is a query object defining which documents to delete.

In [ ]:
query = { "address": {"$regex": "^S"} }

x = customers_collection.delete_many(query)

print(x.deleted_count, " documents deleted.")

people = customers_collection.find()
# print(people)

for person in people:
    print(person)

In [ ]:
x = customers_collection.delete_many({})
print(x.deleted_count, " documents deleted.")